
@font-face {
    font-family: "myFont";
    src: url("incompleetaregular-webfont.woff2");
}

h1 {
    font-family: "myFont";
    text-align: center;
    margin-top: 0.5rem 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #7392e9;
    padding: 10px;
}

.tabs {
    display: flex;
    flex-direction: row;
    background-color: #7392e9;
    padding: 10px;
   
    flex-grow: 1;
}

.tab {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-right: 2px solid #000000;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

@media (max-width: 768px){
    .top-bar{
        flex-direction: column;
    }
}

.tab:hover {
    background-color: #ffffff;
}

.content {
    flex: 1;
    padding: 20px;
}

.login-info {
    color: white;
    display: flex;
    font-family: "myFont";
    align-items: center;
}

.login-info p {
    margin-right: 10px;
}
