.overview-container {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .form input {
    padding: 8px;
    margin-right: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form .invalid {
    padding: 8px;
    margin-right: 7px;
    border: 1px solid #ff0000;
    border-radius: 4px;
  }

  .form .error {
    margin-right: 7px;
    text-align: left;
    font-size: small;
    color: red;
  }

  .form .field {
    margin-bottom: 10px;
  }
  
  .form button {
    padding: 10px 20px;
    margin-block-end: auto;
    margin-right: 7px;
    background-color: #7392e9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }
  
  .table-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    white-space: nowrap;
    word-wrap: normal;
  }
  
@media screen and (max-width: 1500px){
  .load-details-table {
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    word-wrap: normal;
  }
  
  .load-details-table th,
  .load-details-table td {
    white-space: nowrap;
    padding: 12px;
    word-wrap: normal;
    border-inline: 12px solid transparent; 
  }
  
  .load-details-table th {
    background-color: #f2f2f2;
    font-size: 14px;
    white-space: nowrap;
    word-wrap: normal;
  }
  
  .load-details-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .status-cell {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding: 5px 8px;
  }
}
  .status-cell.green {
    background-color: green;
    color: green;
  }
  
  .status-cell.red {
    background-color: red;
    color: red;
  }
  
  .status-cell.yellow {
    background-color: yellow;
    color: yellow;
  }
  
  .add-button {
    text-align: right;
    margin-top: 10px;
  }
  
  .add-button button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  

@media screen and (max-width: 768px) {
   

    .overview-container {
        font-family: Arial, sans-serif;
        margin: auto;
    }

    h2 {
      font-size: 18px;
    }
  
    h3 {
      font-size: 14px;
    }
  
    .form input {
      padding: 4px;
      margin-right: 3px;
      margin-bottom: 6px;
    }
  
    .form button {
      padding: 6px 10px;
    }
  
    .load-details-table th,
    .load-details-table td {
      padding: 2px;
      white-space: normal;
    }
  
   
    .load-details-table th {
      font-size: 14px;
    }
  
   
    .status-cell {
      font-size: 12px;
      padding: 2px;
    }
  
   
    .add-button button {
      font-size: 14px;
      padding: 4px 8px;
    }
  }
  
  